h1
{
    color: white;
    background-color: rgb(255, 17, 243);
    text-align: center;
    text-transform: uppercase;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 3px;
}
footer
{

text-align: center;
text-shadow: rgb(252, 252, 252);
color: white;
}
li
{ 
    font-family:h1
{
    color: white;
    background-color: rgb(255, 17, 243);
    text-align: center;
    text-transform: uppercase;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 3px;
}
footer
{

text-align: center;
text-shadow: rgb(252, 252, 252);
color: white;
}
li
{ 
    font-family: Courier;
    text-align: center;
    list-style-type: none;
    font-size: 50px;
    letter-spacing: 3px;
    list-style: none;
    color: white;
}
a
{
    list-style-type: none;
    color : white;
    text-decoration: none;
}
a:hover
{
    color: white;
    background-color: black;
}
a:active
{
    color: red;
 
    background-color: black;
}
a:visited
{
    color: orange;
}
body
{
    background-image: url(/InShot_20220120_155633968.jpg);
    background-repeat: no-repeat;
}
@media (max-width :768px){
body
{
    width: 100%;
  
}
}
    text-align: center;
    list-style-type: none;
    font-size: 50px;
    letter-spacing: 3px;
    list-style: none;
    color: white;
}
a
{
    list-style-type: none;
    color : white;
    text-decoration: none;
}
a:hover
{
    color: white;
    background-color: black;
}
a:active
{
    color: red;
 
    background-color: black;
}
a:visited
{
    color: orange;
}
body
{
    background-image: url(/InShot_20220120_155633968.jpg);
    background-repeat: no-repeat;
}
@media (max-width :768px){
body
{
    width: 100%;
  
}
}
